@use '@angular/material' as mat;

html {
  color-scheme: light;
  height: 100%;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  margin: 0;
  font: var(--mat-sys-body-large);
}

h1, h2, h3, h4, p {
  margin: 0;
}
